<a href="https://colab.research.google.com/github/shsong97/python/blob/master/python_study2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

동명이인을 찾는 알고리즘 : 리스트에 있는 모드 자료를 검색하는 방법
---
set 함수는 유일한값(중복없음)을 저장하는 자료형이다.
Big O 표기법으로 O(n^2)

In [1]:
def find_same_name(a):
  n=len(a)
  result=set()
  for i in range(0,n-1):
    for j in range(i+1,n):
      if a[i]==a[j]:
        result.add(a[i])
  return result

name=["Tom","Jerry","Mike","Tom"]
print(find_same_name(name))

name2=["Tom","Jerry","Mike","Tom","Mike"]
print(find_same_name(name2))

{'Tom'}
{'Mike', 'Tom'}

재귀호출
---
팩토리얼 구하기(일반적인 루프로 구하는 방식)

In [2]:
def fact(n):
  f=1
  for i in range(1,n+1):
    f=f*i
  return f

print(fact(1))
print(fact(5))
print(fact(10))

1
120
3628800

재귀호출 : 다시 돌아가 부르기
재귀호출은 종료조건이 중요하다. 그렇지 않으면 무한 반복되다가 RecursionError가 발생한다.
동일한 사건의 반복일 경우 마지막 문제는 이전의 문제의 결과값으로 구할 수 있다는 가정이 들어있다.

In [3]:
def fact(n):
  if n<=1:
    return 1
  return n*fact(n-1)

print(fact(1))
print(fact(5))
print(fact(10))

1
120
3628800

n! = n * (n-1)! 이다.

*   3! = 2 * 1!
*   4! = 4 * 3! = 4 * 3 * 2! = 4 * 3 * 2 * 1

factorial 의 계산 복잡도는 O(n)이다.

최대공약수구하기
---
최대공약수 알고리즘 : 아래 알고리즘은 두 수 중 가장 작은수를 나눠서 떨어지는 수를 루프로 반복해서 구한다. 
10, 5가 있으면 5로 나눠서 떨어지면 최대공약수 아니면 4,3,2,1로 하나씩 작은 수로 나눠서 떨어지는지 확인한다.

In [4]:
#최대공약수구하기
#입력 a, b
#출력: a와 b의 최대공약수

def gcd(a,b):
  i=min(a,b)
  while True:
    if a%i==0 and b%i==0:
      return i
    i=i-1

print(gcd(1,5))
print(gcd(3,6))
print(gcd(60,24))
print(gcd(81,27))

1
3
12
27

유클리드 알고리즘 : 
1.   a와 b의 최대 공양수는 b와 a를b로 나눈 나머지의 최대공약수와 같다. 즉 gcd(a,b)=gcd(b,a%b)
2.   어떤수와 0의 최대공약수는 자기자신이다. 즉 gcd(n,0)=n

In [5]:
def gcd(a,b):
  if b==0:
    return a
  return gcd(b,a%b)

print(gcd(1,5))
print(gcd(3,6))
print(gcd(60,24))
print(gcd(81,27))

1
3
12
27